{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
	<div style="width: 100px;">
	    {% if app.request.get('_route_params')._sonata_admin == 'admin.story' %}
	    	<img src="{{ story_upload_destination }}{{ object.image }}" class="thumbnail">
	    {% endif %}
	</div>
{% endblock %}
