<aside class="change-theme-container" title="Change Colour Theme">
    {% set default_selected = '' %}
    {% set dark_selected = '' %}
    {% set light_selected = '' %}
    {% if app.request.cookies.get('colour-theme')|length and app.request.cookies.get('colour-theme') ==  '/bundles/albfrontend/css/style.css' %}
        {% set default_selected = ' selected' %}
    {% endif %}
    {% if app.request.cookies.get('colour-theme')|length and app.request.cookies.get('colour-theme') ==  '/bundles/albfrontend/css/colour-theme/theme-dark.css' %}
        {% set dark_selected = ' selected' %}
    {% endif %}
    {% if app.request.cookies.get('colour-theme')|length and app.request.cookies.get('colour-theme') ==  '/bundles/albfrontend/css/colour-theme/theme-light.css' %}
        {% set light_selected = ' selected' %}
    {% endif %}

    <select class="form-control js-change-colour-theme">
        <option{{ default_selected }} value="/bundles/albfrontend/css/style.css">Default Theme</option>
        <option{{ dark_selected }} value="/bundles/albfrontend/css/colour-theme/theme-dark.css">Dark Theme</option>
        <option{{ light_selected }} value="/bundles/albfrontend/css/colour-theme/theme-light.css">Light Theme</option>
    </select>&nbsp;&nbsp;<img src="{{ asset('bundles/albfrontend/images/defaults/palette-icon.png') }}" height="25" />
</aside>