/* ###### Common Style ###### */
/* [+] Google Fonts: CSS Classes  */
.font-lobster-two {
	font-family: "Lobster Two", Georgia;
}
/* [-] Google Fonts: CSS Classes  */

/* + Utils */
a.color-inherit {
	color: inherit;
}
a:active,
a:focus {
	text-decoration: none;
	outline: medium none;
}
.color-black {
	color: #000;
}
.format-inherit {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.color-gray-dark {
	color: #333;
}
.clearfix {
	clear: both;
}
.margin-bottom-15 {
	margin-bottom: 15px!important;
}
.padding-bottom-20 {
	padding-bottom: 20px!important;
}
.padding-top-30 {
	padding-top: 30px!important;
}
.position-relative {
	position: relative;
}
.text-12 {
	font-size: 12px;
}
.text-14 {
	font-size: 14px;
}
.btn {
	cursor: pointer;
}
.btn:focus:before {
	color: inherit;
}
/* Add icon */
.btn.btn-icon {
	position: relative;
	padding-left: 55px;
}
.btn-plus::before {
	content: "\f067";
	font-size: 14px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.15);
	font-family: FontAwesome;
}
.no-margin {
	margin: 0!important;
}
.cursor-pointer {
	cursor: pointer;
}
.no-padding {
	padding: 0!important;
}
.no-padding-left {
	padding-left: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.selected-element {
	display: block;
	padding: 5px 0 0;
}
.uploaded-filename {
	font-size: 11px;
	font-weight: 400;
}
/* - Utils */

/* + Search suggestions wrapper */
#ajaxSearchForm {
	position: relative;
}
.suggestions-wrapper,
.suggestions-wrapper .results {
	color: #555;
	font-size: 12px;
}
.suggestions-wrapper {
	position: absolute;
	left: auto;
	/*top: 38px;*/
	top: 63px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff;
	padding: 10px;
	z-index: 3;
	width: calc(100% - 30px);
	-webkit-box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.16);
  	box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.16);
}
.suggestions-wrapper p {
	margin: 0;
}
.suggestions-wrapper ul {
	max-height: 200px;
	overflow-y: auto;
	width: 100%;
	margin: 5px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
.suggestions-wrapper a {
	color: green;
}
.suggestions-wrapper li a {
	display: block;
	padding-bottom: 5px;
    padding-top: 5px;
}
.suggestions-wrapper ul li {
    border-top: 1px solid #999;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.02);
}
.suggestions-wrapper ul li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}
.suggestions-wrapper ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.suggestions-wrapper a:hover,
.suggestions-wrapper ul li:hover a {
	color: darkblue;
}
.suggestions-wrapper ul li:first-child {
	border-top: none;
	padding-top: none;
}
.suggestions-wrapper ul li::before {
	content: attr(data-index);
	color: green;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	float: left;
	margin-right: 5px;
	margin-top: 6px;
}
.suggestions-wrapper .result-element.selected {
	background-color: lightblue;
}
.suggestions-wrapper .result-element.selected a:first-child {
	color: darkblue;
}
.close-suggestions {
	cursor: pointer;
	position: absolute;
	width: 37px;
	right: -40px;
	top: 0;
	padding: 5px 0;
	background-color: #fff;
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #999;
	border-color: #333;
	border-style: solid;
	border-width: 0;
	border-left-width: 3px;
	-webkit-box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.36);
  	box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.36);
  	transition: all 0.2s ease-in-out;
}
.close-suggestions:hover {
	color: #333;
}
/* - Search suggestions wrapper */
/* ###### Common Style ###### */

/* ================================== */
/* ##### [+] MOBILE RESOLUTIONS ##### */
/* ================================== */

/* [+] max-width: 767px */
@media screen and (max-width: 767px) {
	.close-suggestions {
		background: #f2f2f2; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #999999 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ffffff 0%,#999999 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ffffff 0%,#999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
		right: calc(50% - 20px);
		top: auto;
		bottom: -31px;
		border-left-width: 0;
		border-top-width: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: none;
		color: #555;
	}
} /* [-] max-width: 767px */

/* ================================== */
/* ##### [-] MOBILE RESOLUTIONS ##### */
/* ================================== */
